__pycache__
Figures/
Resources/
cluster/homebrew/logging
cluster/SIREN/logging
cluster/SIREN/hnl_processing_job_lists
Data/
Cosmics/*.txt
Cosmics/EcoRunner
Cosmics/MuonSim
Cosmics/MuonSimPrototype
.DS*
.vscode/
